<div class='user_profile'>
  <div class='user_profile_image'>
    <img src="<%= "#{@user.image}" %>">
  </div>
  <div class='user_profile_name'>
    <%= current_user.name %>
  </div>
  <div class=user_profile_email>
    <%= current_user.email %>
  </div>
  <div class='user_profile_edit_btn'>
    <a class='btn btn-info' href='/users/edit'>編集</a>
  </div>
</div>
