.sign_up_wrapper{
  padding-top: 70px;
  }

.form_wrapper{
    float: left;
    width: 320px;
    margin-left: 9%;
  }

form{
      margin: 0;
  }

.field{
  margin-bottom: 15px;
  }

  .form-control{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .btn{
    cursor: pointer;
    display: inline-block;
    width: 100%;

  }
