.search{
  text-align: center;
  margin-top: 100px;
}

.logo {
  margin-top: 115px;
  margin-bottom: 0;
  font-size: 80px;
}

.search_form {
  width: 35%;
  padding: 8px;
  margin-top: 20px;
  font-size: 16px;
}

// .search_form::placeholder {
//   text-align: center;
// }

// .search_list {
//   padding-top: 1px;
//   font-size: 16px;
//   width: 35%;
//   margin-left: auto;
//   margin-right: auto;
//   border-left: 1px solid #ccc;
//   border-right: 1px solid #ccc;
//   border-bottom: 1px solid #ccc;
//   box-shadow: 0 2px 4px rgba(0,0,0,0.2);
// }

.search_list_item {
  padding-top: 1px;
  font-size: 16px;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  // box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.search_result {
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
}

.logo-c{
  color: #4285f4;
}

.logo-h{
  color: #ea4335;
}

.logo-a{
  color: #fbbc05;
}

.logo-t{
  color: blue;
}
.logo-A{
  color: #34a853;
}
.logo-p{
  color: #ea4335;
}
.logo-p2{
  color: #fbbc05;
}
